.dropdown-toggle {
    width: 2em;
    display: flex;
    justify-content: center;
    background: whitesmoke;
    cursor: pointer;
}

.dropdown-toggle:hover {
    background: #555;
    color: whitesmoke;
}

.dropdown-list {
    background: whitesmoke;
    width: 100px;
    padding: 10px;
    list-style: none;
    display: none;
    text-align: center;
}

.show {
    display: block;
}
